<h1 color= white >Cocktail</h1>
<div class="container">
      <div class="card"
  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path @cocktail.photo, height: 300, width: 400, crop: :fill %>')">
         <div class= "card.int">
      <h1><%= @cocktail[:name] %></h1> <ul>
        <% @cocktail.doses.each do |dose| %>
        <li><%= dose.description%> <%= dose.ingredient.name %><%= link_to 'delete', cocktail_dose_path(@cocktail, dose), method: :delete, data: { confirm: "Are you sure? Really?"} %> </li>
        <% end %>
      </ul>
      </div>
      </div>
<%= link_to "add dose", new_cocktail_dose_path(@cocktail) %>
<%= link_to "Return to cocktail list", cocktails_path %>
      </div>
